<section>
    <div class="header-bottom">
        <!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <input type="text" placeholder="Search" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-bottom-->
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <div class="collection-filter-type">
                        <h2>
                            <button class="accordion cs-title col-sb-trigger active">
                                <span>Loại sản phẩm</span>
                            </button>
                        </h2>
                        <div class="panel sidebar-sort" style="max-height: 200px;">
                            <ul class="no-bullets filter-type clearfix">
                                <li>
                                    <label data-filter="Laptop" class="filter-vendor__item laptop">
                                        <input type="checkbox" value="(product_type:product**Laptop)">
                                        <span>Laptop</span>
                                    </label>
                                </li>
                                <li>
                                    <label data-filter="Laptop" class="filter-vendor__item phone">
                                        <input type="checkbox" value="(product_type:product**phone)">
                                        <span>Điện thoại</span>
                                    </label>
                                </li>
                                <li>
                                    <label data-filter="Laptop" class="filter-vendor__item headphone">
                                        <input type="checkbox" value="(product_type:product**headphone)">
                                        <span>Tai nghe</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="collection-filter-price">
                        <h2>
                            <button class="accordion cs-title col-sb-trigger active">
                                <span>Khoảng giá</span>
                            </button>
                        </h2>
                        <div class="panel sidebar-sort" style="max-height: 204px;">
                            <ul class="no-bullets filter-price clearfix">
                                <li>
                                    <label>
                                        <input type="radio" name="price-filter" data-price="0:max"
                                            value="((price:product>=0))">
                                        <span>Tất cả</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="price-filter" data-price="0:10000000"
                                            value="((price:product<10000000))">
                                        <span>Nhỏ hơn 10,000,000₫</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="price-filter" data-price="10000000:20000000"
                                            value="((price:product>=10000000)&amp;&amp;(price:product<20000000))">
                                        <span>Từ 10,000,000₫ - 20,000,000₫</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="price-filter" data-price="20000000:30000000"
                                            value="((price:product>=20000000)&amp;&amp;(price:product<30000000))">
                                        <span>Từ 20,000,000₫ - 30,000,000₫</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="price-filter" data-price="30000000:50000000"
                                            value="((price:product>=30000000)&amp;&amp;(price:product<50000000))">
                                        <span>Từ 30,000,000₫ - 50,000,000₫</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="price-filter" data-price="50000000:80000000"
                                            value="((price:product>=50000000)&amp;&amp;(price:product<80000000))">
                                        <span>Từ 50,000,000₫ - 80,000,000₫</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="price-filter" data-price="80000000:max"
                                            value="((price:product>=80000000))">
                                        <span>Lớn hơn 80,000,000₫</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Product Items</h2>
                    {{#each shop}}
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{avt}}" alt="" />
                                    <h2>{{basePrice}}</h2>
                                    <p>{{name}}</p>


                                    <a href="/product-details" class="btn btn-default add-to-cart"><i
                                            class="fa fa-search-minus"></i>Detail</a>

                                    <a href="#" class="btn btn-default add-to-cart "><i
                                            class="fa fa-shopping-cart"></i>Add to cart</a>

                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>{{basePrice}}</h2>
                                        <p>{{name}}</p>
                                        <div class='d-flex justify-content-center'>

                                            <a href="/product-details" class="btn btn-default add-to-cart "><i
                                                    class="fa fa-search-minus"></i>Detail</a>

                                            <a href="#" class="btn btn-default add-to-cart "><i
                                                    class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/each}}


                </div>
                <!--features_items-->


                <!--/category-tab-->

                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">recommended items</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="https://fptshop.com.vn/Uploads/Originals/2020/3/25/637207313358350108_macbook-air-2020-gold-1.png"
                                                    alt="" />
                                                <h2>34990000 VND</h2>
                                                <p>MacBook Air 13" 2020 1.1GHz Core i5 512GB</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="https://fptshop.com.vn/Uploads/Originals/2019/7/23/636994883263763784_acer-nitro-5-2019-den-1.png"
                                                    alt="" />
                                                <h2>28790000 VND</h2>
                                                <p>Laptop Acer Nitro 5 AN515 54 779S i7 9750H/8GB/512GB/15.6"FHD/Win 10
                                                </p>
                                                <a href="#" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="https://fptshop.com.vn/Uploads/Originals/2020/1/17/637148686729968160_lenovo-legion-y540-den-1.png"
                                                    alt="" />
                                                <h2>26490000 VND</h2>
                                                <p>Laptop Lenovo Legion Y540 15IRH i7 9750H/8GB/1TB SSD/Win10</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="https://fptshop.com.vn/Uploads/Originals/2020/3/25/637207313358350108_macbook-air-2020-gold-1.png"
                                                    alt="" />
                                                <h2>34990000 VND</h2>
                                                <p>MacBook Air 13" 2020 1.1GHz Core i5 512GB</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="https://fptshop.com.vn/Uploads/Originals/2019/7/23/636994883263763784_acer-nitro-5-2019-den-1.png"
                                                    alt="" />
                                                <h2>28790000 VND</h2>
                                                <p>Laptop Acer Nitro 5 AN515 54 779S i7 9750H/8GB/512GB/15.6"FHD/Win 10
                                                </p>
                                                <a href="#" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="https://fptshop.com.vn/Uploads/Originals/2020/1/17/637148686729968160_lenovo-legion-y540-den-1.png"
                                                    alt="" />
                                                <h2>26490000 VND</h2>
                                                <p>Laptop Lenovo Legion Y540 15IRH i7 9750H/8GB/1TB SSD/Win10</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <!--/recommended_items-->

            </div>
        </div>
    </div>
</section>