<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">List of Products</h3>
                <p class="text-muted"></p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0">Name</th>
                                <th class="border-top-0">Description</th>
                                <th class="border-top-0">Price</th>
                                <th class="border-top-0">Sold_Quantity</th>
                                <th class="border-top-0">Edit</th>
                                <th class="border-top-0">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <td>{{@index}}</td>
                                <td>
                                    <a href="#">{{name}}</a>
                                </td>
                                <td>{{description}}</td>
                                <td>{{price}}</td>
                                <td>{{countSale}}</td>
                                <td>
                                    <a href="/products/edit/{{_id}}" class="btn btn-default text-primary add-to-cart ">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="/product/delete/{{_id}}" class="btn btn-default text-danger add-to-cart ">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <div class="pagination">
                        {{#if hasPrevPage}}
                            <a href="/products?page={{prevPage}}">&laquo;</a>
                        {{/if}}
                        {{#if hasPrevPage1}}
                            <a href="/products?page={{prevPage1}}">{{prevPage1}}</a>
                        {{/if}}
                        {{#if hasPrevPage2}}
                            <a href="/products?page={{prevPage2}}">{{prevPage2}}</a>
                        {{/if}}
                        <a href="#" class="active">{{currentPage}}</a>
                        {{#if hasNextPage1}}
                            <a href="/products?page={{nextPage1}}">{{nextPage1}}</a>
                        {{/if}}
                        {{#if hasNextPage2}}
                            <a href="/products?page={{nextPage2}}">{{nextPage2}}</a>
                        {{/if}}
                        {{#if hasNextPage}}
                            <a href="/products?page={{nextPage}}">&raquo;</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>