<div class="content">

	<div class="module">
		<div class="module-head">
			<h3>List of Products</h3>
			<a class="btn btn-large btn-success" href="/products/add" role="button">New Product</a>
		</div>
		<div class="module-body">
			<table class="table table-striped table">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Price</th>
						<th>CountSale</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					{{#each products}}
					<tr>
						<td>{{incremented @index}}</td>
						<td>
							{{name}}
						</td>
						<td>{{price}}</td>
						<td>{{countSale}}</td>
						<td>
							<a href="/products/edit/{{_id}}" class="menu-icon icon-edit">
								<i class="fas fa-edit"></i>
							</a>
						</td>
						<td>
							<a href="/products/delete/{{_id}}" class="menu-icon icon-trash">
								<i class="fa fa-trash" aria-hidden="true"></i>
							</a>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			<div class="pagination">
				{{#if hasPrevPage}}
				{{#if Category}}
				<a href="/products?category={{Category}}&page={{prevPage}}">&laquo;</a>
				{{else}}
				<a href="/products?page={{prevPage}}">&laquo;</a>
				{{/if}}
				{{/if}}

				{{#if hasPrevPage1}}
				{{#if Category}}
				<a href="/products?category={{Category}}&page={{prevPage1}}">{{prevPage1}}</a>
				{{else}}
				<a href="/products?page={{prevPage1}}">{{prevPage1}}</a>
				{{/if}}
				{{/if}}

				{{#if hasPrevPage2}}
				{{#if Category}}
				<a href="/products?category={{Category}}&page={{prevPage2}}">{{prevPage2}}</a>
				{{else}}
				<a href="/products?page={{prevPage2}}">{{prevPage2}}</a>
				{{/if}}
				{{/if}}

				<a href="#" class="active">{{currentPage}}</a>

				{{#if hasNextPage1}}
				{{#if Category}}
				<a href="/products?category={{Category}}&page={{nextPage1}}">{{nextPage1}}</a>
				{{else}}
				<a href="/products?page={{nextPage1}}">{{nextPage1}}</a>
				{{/if}}
				{{/if}}

				{{#if hasNextPage2}}
				{{#if Category}}
				<a href="/products?category={{Category}}&page={{nextPage2}}">{{nextPage2}}</a>
				{{else}}
				<a href="/products?page={{nextPage2}}">{{nextPage2}}</a>
				{{/if}}
				{{/if}}

				{{#if hasNextPage}}
				{{#if Category}}
				<a href="/products?category={{Category}}&page={{nextPage}}">&raquo;</a>
				{{else}}
				<a href="/products?page={{nextPage}}">&raquo;</a>
				{{/if}}
				{{/if}}
			</div>
		</div>
	</div>
</div>
<!--/.content-->