<div class="content">

	<div class="module">
		<div class="module-head">
			<h3>List of Users</h3>
		</div>
		<div class="module-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Role</th>
					</tr>
				</thead>
				<tbody>
					{{#each users}}
					<tr>
						<td>{{incremented @index}}</td>
						<td>
							<a href="/users/{{_id}}">{{name}}</a>
						</td>
						<td>{{email}}</td>
						<td>{{phone}}</td>
						<td>{{roles}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			<div class="pagination">
				{{#if hasPrevPage}}
				{{#if Category}}
				<a href="/users?category={{Category}}&page={{prevPage}}">&laquo;</a>
				{{else}}
				<a href="/users?page={{prevPage}}">&laquo;</a>
				{{/if}}
				{{/if}}

				{{#if hasPrevPage1}}
				{{#if Category}}
				<a href="/users?category={{Category}}&page={{prevPage1}}">{{prevPage1}}</a>
				{{else}}
				<a href="/users?page={{prevPage1}}">{{prevPage1}}</a>
				{{/if}}
				{{/if}}

				{{#if hasPrevPage2}}
				{{#if Category}}
				<a href="/users?category={{Category}}&page={{prevPage2}}">{{prevPage2}}</a>
				{{else}}
				<a href="/users?page={{prevPage2}}">{{prevPage2}}</a>
				{{/if}}
				{{/if}}

				<a href="#" class="active">{{currentPage}}</a>

				{{#if hasNextPage1}}
				{{#if Category}}
				<a href="/users?category={{Category}}&page={{nextPage1}}">{{nextPage1}}</a>
				{{else}}
				<a href="/users?page={{nextPage1}}">{{nextPage1}}</a>
				{{/if}}
				{{/if}}

				{{#if hasNextPage2}}
				{{#if Category}}
				<a href="/users?category={{Category}}&page={{nextPage2}}">{{nextPage2}}</a>
				{{else}}
				<a href="/users?page={{nextPage2}}">{{nextPage2}}</a>
				{{/if}}
				{{/if}}

				{{#if hasNextPage}}
				{{#if Category}}
				<a href="/users?category={{Category}}&page={{nextPage}}">&raquo;</a>
				{{else}}
				<a href="/users?page={{nextPage}}">&raquo;</a>
				{{/if}}
				{{/if}}
			</div>
		</div>
	</div>
</div>
<!--/.content-->
